@model User

<partial name="_BronyForm.cshtml" model="new Brony(){ UserId = @Model.UserId  }"></partial>
@{
    decimal sum = Model.MyLittleBronies.Sum( b => b.Price );
}

<div class="jumbotron">
    <h1>@Model.Name</h1>
    <p># of Bronies: @Model.MyLittleBronies.Count</p>
    <p>Total Collection Value: $@sum</p>
</div>

<table class="table table-striped"> 
    <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Condition</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var b in Model.MyLittleBronies)
        {
            <tr>
                <td>@b.Name</td>
                <td>@b.Color</td>
                <td>@b.Condition</td>
                <td>@b.Price</td>
            </tr>
        }
    </tbody>
</table>